body {
    height: 100vh;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 8px 30px;
    border-radius: 8px;
    border: 0px;
    font-size: 16px;
    font-weight: 800;
}

a {
    text-decoration: none;
    color: #E5E7EB
}


ul {
    list-style: None;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.header-container {
    background-color: #1F2937;
    color: white;
    height: 60px;
    display: flex;    
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    gap: 20px;
}

.hero-container {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 350px;
}   

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB
}

.hero-container img {
    width: 550px;
    height: 250px;
    background-color: gray;
}

.content-title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    padding: 30px;
}

.content-items {
    flex: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    gap: 45px;
}

.content-item img {
    width: 150px;
    height: 150px;
    border: 3px;
    border-radius: 8px;
}

.content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align: center;
}

.quote-container {
    background-color: #E5E7EB;
    font-size: 36px;
    font-display: light italic;
    color: #1F2937;
}

.sign-up-container {
    background-color: #3882F6;
}

.footer-container {
    background-color: #1F2937;
    color: white;
}
